
<ion-col size="12">
  <ion-row>
    <ion-col >
      <ion-searchbar class="mt-2-large query-wrap" placeholder="Buscar por nombre" (ionChange)="findNameHero($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of itemCards |  searchHero: textToFind " >
    <ion-card (click)="tapSingleCard(item)">
      <ion-card-header>
        <ion-card-subtitle>{{item.biography.fullName}}</ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-col>