<app-loader *ngIf="loading"></app-loader>

<ion-header *ngIf="!loading">
  <ion-toolbar>
    <ion-title mode="md"> Select a crew... </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-text color="medium"> 
    <ion-grid>
      <ion-row>
        <ion-col size="6" (click)="filterByBrand('Marvel Comics')" class="logo-float-one">
          <img src="../assets/images/marvel-logo.png">
        </ion-col>
        <ion-col size="6" (click)="filterByBrand('DC Comics')" class="logo-float-two">
          <img src="../assets/images/dc-comics.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
</ion-content>
